.vscode/**
.vscode-test/**
.gitignore
.yarnrc
graph.json
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
java/src/**
java/pom.xml
java/target/**
!java/target/
!java/target/java-graph.jar
java/.gitignore
java/dependency-reduced-pom.xml
*.vsix
